@media (max-width:376px){
    .header{
        width: 100%;
        padding: 10px;
      
        
       
    }
    .wrap{
        width: 80%;
    }
    .banner{
        width: 100%;
        height: 100vh;
    }
    .banner img{
        width: 100%;
        height: 100vh;
        background-size: cover;
    }
    .overlay{
        width: 100%;
        height: 100vh;
    }
    .logo h1{
        color: #fff;
    }
    .logo i{
        color: #fff;
    }
    .container{
        width: 100%;
        height: 50vh;
        margin-top: 161px;
        margin-left: 0px;
    }
    .container h5{
        font-size: 20px;
        line-height: 0px;
        padding-top: 30px;
        letter-spacing: 1px;
    }
    .container h3{
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 2rem;
        margin-top: 1.5rem;
    }
    .container p{
        font-size: 16px;
    }
    .container button{
        padding: 13px 30px;
    }
    .mainbox{
        width: 100%;
        height: auto;
       
    }
    .border{
        width: 90%;
        display: block;
        padding-top: 60px;
        padding: 10px;
    }
    .leftbox{
        width: 100%;
    }
    .leftbox h3{
        font-size: 28px;
        line-height: 38px;
    }
    .leftbox p{
        font-size: 15px;
        line-height: 28px;
    }
    .about{
        display: block;
        margin-top: 2rem;
    }
    .rightabout{
        margin-top: 10px;
    }
    .rightbox{
        width: 356px;
        margin-top: 3rem;
    }
    .Features{
        width: 100%;
        column-gap: 0px;
        height: auto;
        flex-direction: column;
    }
    .leftfeatures{
        width: 100%;
        margin-top: 200px;
    }
    .leftfeatures img{
        width: 95%;
        height: 400px;
    }
    .rightfeatures{
        width: 100%;
        margin: auto;
       
        box-sizing: border-box;
        margin: 20px;
    }
    .rightfeatures h3{
        font-size: 16px;
    }
    .rightfeatures h5{
        font-size: 28px;
        line-height: 38px;
    }
    .rightfeatures p{
        font-size: 17px;
    }

    .rightdown h4{
        font-size: 21px;
    }
    .rightdown p{
        font-size: 15px;
    }
    .downfeatures{
        column-gap: 23px;
    }
    .team{
        width: 100%;
        margin: auto;
        height: auto;
    }
    .memberlist{
        width: 100%;
        flex-direction: column;
    }
    .team h3{

        padding-top: 80px;
        font-size: 16px;

    }
    .team h4{
        font-size: 28px;
        line-height: 38px;
    }
    .figure img{
        width: 100%;
       
        background-size: 100% 100%;

    }
    .figure{
        margin-top: 35px;
    }
    .figure-overlay{
        width: 100%;
       
    }
    .figure-box{
        width: 85%;
        
    }
    .figure-box h4{
        padding-top: 50px;
        font-size: 28px;
        font-weight: 38px;
    }
    .newsbox{
        width: 100%;
    }
    .hellobox{
        padding-left: 0px;
        flex-direction: column;
        width: 30%;
    }
    .details{
        height: 882px;
    }
    .cooking{
        width: 100%;
        flex-direction: column;
        padding-top: 50px;
        
    }
    .news{
        height: auto;
        width: 100%;
    }
    .member{
        width: 90%;
        margin: auto;
        height: 445px;
        margin-bottom: 30px;
    }
    .figure-box a button{
        padding: 14px 31px;
    }
    .newsbox h3{
        font-size: 16px;
    }
    .newsbox h5{
        font-size: 28px;
        font-weight: 38px;
    }
    .world{
        border: 1px solid #eee;
        width: 100%;
        margin: 0px;
        border-top: none;
        
    }
    .world p{
        font-size: 18px;
        line-height: 28px;
    }
    .footerbox{
        width: 100%;
        height: auto;
    }
    .usbox{
        width: 100%;
        margin: 15px;
    }
    .linkbox{
        padding: 0px;
        margin: 15px;
    }
    .linkbox h3{
        margin-bottom: 10px;
    }
    .emailbox{
        margin-left: 0px;
        margin: 15px;
    }
    .footerbox p{
        padding-bottom: 30px;
    }




}

@media (max-width:1024px){
    .banner{
        width: 100%;
        height: 100vh;
    }
    .banner img{
        width: 100%;
        height: 100vh;
    }
    .container{
        width: 90%;
       
        margin-left: 0px;
        height: 93vh;
        margin: auto;
        margin-top: 30px;
    }
    .overlay{
        width: 100%;
        height: 100vh;
    }
    .mainbox{
        width: 100%;
        height: 730px;
    }
    .border{
        width: 90%;
    } 
    .container h5{
        margin-top: 178px;
    }
    .rightfeatures{
        padding: 0px;
        height: auto;
    }
    .memberlist{
        width: 100%;
        justify-content: space-around;
    }
    .member{
        width: 292px;
        height: 379px;
    }
    .figure img{
        width: 100%;
        height: 70vh;
    }
    .figure{
        height: 70vh;
    }
    .figure-overlay{
        width: 100%;
        height: 70vh;
    }
    .figure-box{
        width: 85%;
        margin-left: 40px;
    }
    .newsbox{
        width: 93%;
    }
    .world{
        width: 26.25%;
        margin: auto;
    }
    .cooking{
        width: 94%;
    }
    .usbox{
        width: 238px;
    }
    .usbox h3{
        width: 214px;
    }
    .linkbox{
        width: 159px;
        padding: 0px 80px 0px 12px;
    }
    .usbox p{
        font-size: 15px;
    }
    .emailbox{
        margin-left: 20px;
    }
    .hellobox{
        width: 100%;
        justify-content: none;
        margin: auto;
        padding-left: 0px;
    }
    .member-overlay{
        width: 293px;
        height: auto;
    }
    .Features{
        width: 100%;
        height: auto;
        
    }
    .leftfeatures{
        height: auto;
    }
    .leftfeatures img{
        height: auto;
    }
    .downfeatures{
        margin-top: 28px;
        column-gap: 28;
    }
    .member-overlay{
        top: 71%;
    }
    


}

